In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("start_data.csv")
pd.set_option('display.max_columns', None)

In [90]:
df.head()

,transaction_id,pickup_city,delivery_city,pickup_lat,pickup_lon,delivery_lat,delivery_lon,distance_km,weight_kg,volume_m3,pickup_time,estimated_delivery,actual_delivery,earliest_delivery,latest_delivery,status,priority,vehicle_type,vehicle_capacity_weight,vehicle_capacity_volume,payment_method,price_inr,traffic_multiplier,is_monsoon,weather_main,temperature,traffic_level_category
0,IN000001,Chennai,Kolkata,13.113780,80.309601,22.620558,88.372234,1383.65,972.15,3.414,2024-02-07 01:06:46.391011,2024-03-18 21:05:44.662568,2024-03-18 20:52:30.831289,2024-02-07 09:06:46.391011,2024-02-08 01:06:46.391011,Delivered,Next Day,Mini Truck,2500,20.0,Digital Wallet,40063.01,1.42,False,Haze,26.03,High
1,IN000002,Mumbai,Delhi,19.038029,72.801687,28.563247,77.281436,1168.39,348.80,2.510,2024-02-07 01:12:08.966565,2024-03-15 14:53:41.052960,2024-03-15 15:17:00.794059,2024-02-08 01:12:08.966565,2024-02-09 01:12:08.966565,Delivered,Standard,Mahindra Pickup,1200,12.0,UPI,21264.89,1.54,False,Haze,20.57,High
2,IN000003,Chennai,Kolkata,13.008907,80.294746,22.551902,88.392082,1389.21,307.60,2.006,2024-02-07 01:23:31.227104,2024-03-13 14:03:27.442155,2024-03-13 13:49:56.476180,2024-02-07 09:23:31.227104,2024-02-08 01:23:31.227104,Delivered,Next Day,Mahindra Pickup,1200,12.0,Digital Wallet,31349.20,1.23,False,Haze,26.03,High
3,IN000004,Hyderabad,Delhi,17.374393,78.574246,28.687724,77.198214,1265.03,1230.25,12.075,2024-02-07 01:25:45.623224,2024-03-16 04:34:24.258281,2024-03-16 04:25:38.963851,2024-02-07 09:25:45.623224,2024-02-08 01:25:45.623224,Delivered,Next Day,Mini Truck,2500,20.0,Net Banking,42231.17,1.45,False,Clear,21.12,High
4,IN000005,Kolkata,Mumbai,22.480900,88.368970,19.006689,72.945940,1754.85,545.75,1.599,2024-02-07 01:26:26.139326,2024-04-07 07:30:11.409007,2024-04-07 07:53:48.267264,2024-02-07 02:26:26.139326,2024-02-07 05:26:26.139326,Delivered,Same Day,Mahindra Pickup,1200,12.0,Credit Card,63880.40,1.65,False,Smoke,29.93,High

In [91]:
df['pickup_time'] = pd.to_datetime(df['pickup_time'])
df['actual_delivery'] = pd.to_datetime(df['actual_delivery'])
df['estimated_delivery'] = pd.to_datetime(df['estimated_delivery'])
df['earliest_delivery'] = pd.to_datetime(df['earliest_delivery'])
df['latest_delivery'] = pd.to_datetime(df['latest_delivery'])
# Calculate actual delivery time in hours
df['actual_delivery_time_hours'] = (df['actual_delivery'] - df['pickup_time']).dt.total_seconds() / 3600

# Reorder columns to place the new column right after 'actual_delivery'
cols = df.columns.tolist()
cols.remove('actual_delivery_time_hours')  # Ensure it doesn't exist twice
new_order = cols[:cols.index('actual_delivery') + 1] + ['actual_delivery_time_hours'] + cols[cols.index('actual_delivery') + 1:]
df = df[new_order]

In [92]:
df

,transaction_id,pickup_city,delivery_city,pickup_lat,pickup_lon,delivery_lat,delivery_lon,distance_km,weight_kg,volume_m3,pickup_time,estimated_delivery,actual_delivery,actual_delivery_time_hours,earliest_delivery,latest_delivery,status,priority,vehicle_type,vehicle_capacity_weight,vehicle_capacity_volume,payment_method,price_inr,traffic_multiplier,is_monsoon,weather_main,temperature,traffic_level_category
0,IN000001,Chennai,Kolkata,13.113780,80.309601,22.620558,88.372234,1383.65,972.15,3.414,2024-02-07 01:06:46.391011,2024-03-18 21:05:44.662568,2024-03-18 20:52:30.831289,979.762345,2024-02-07 09:06:46.391011,2024-02-08 01:06:46.391011,Delivered,Next Day,Mini Truck,2500,20.0,Digital Wallet,40063.01,1.42,False,Haze,26.03,High
1,IN000002,Mumbai,Delhi,19.038029,72.801687,28.563247,77.281436,1168.39,348.80,2.510,2024-02-07 01:12:08.966565,2024-03-15 14:53:41.052960,2024-03-15 15:17:00.794059,902.081063,2024-02-08 01:12:08.966565,2024-02-09 01:12:08.966565,Delivered,Standard,Mahindra Pickup,1200,12.0,UPI,21264.89,1.54,False,Haze,20.57,High
2,IN000003,Chennai,Kolkata,13.008907,80.294746,22.551902,88.392082,1389.21,307.60,2.006,2024-02-07 01:23:31.227104,2024-03-13 14:03:27.442155,2024-03-13 13:49:56.476180,852.440347,2024-02-07 09:23:31.227104,2024-02-08 01:23:31.227104,Delivered,Next Day,Mahindra Pickup,1200,12.0,Digital Wallet,31349.20,1.23,False,Haze,26.03,High
3,IN000004,Hyderabad,Delhi,17.374393,78.574246,28.687724,77.198214,1265.03,1230.25,12.075,2024-02-07 01:25:45.623224,2024-03-16 04:34:24.258281,2024-03-16 04:25:38.963851,914.998150,2024-02-07 09:25:45.623224,2024-02-08 01:25:45.623224,Delivered,Next Day,Mini Truck,2500,20.0,Net Banking,42231.17,1.45,False,Clear,21.12,High
4,IN000005,Kolkata,Mumbai,22.480900,88.368970,19.006689,72.945940,1754.85,545.75,1.599,2024-02-07 01:26:26.139326,2024-04-07 07:30:11.409007,2024-04-07 07:53:48.267264,1446.456147,2024-02-07 02:26:26.139326,2024-02-07 05:26:26.139326,Delivered,Same Day,Mahindra Pickup,1200,12.0,Credit Card,63880.40,1.65,False,Smoke,29.93,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,IN059996,Delhi,Pune,28.638015,77.157647,18.600717,73.850833,1173.05,80.73,5.319,2024-12-03 00:28:30.413235,2025-01-07 16:13:54.901902,2025-01-07 16:29:51.159444,856.022430,2024-12-03 01:28:30.413235,2024-12-03 03:28:30.413235,Delivered,Premium,Tata Ace,750,8.0,Net Banking,47337.25,1.46,False,Clouds,31.41,High
59996,IN059997,Kolkata,Kolkata,22.484788,88.322657,22.512633,88.324940,3.10,1523.16,16.616,2024-12-03 00:31:04.095954,2024-12-03 02:51:14.513856,2024-12-03 03:08:42.054548,2.627211,2024-12-03 01:31:04.095954,2024-12-03 03:31:04.095954,Delivered,Premium,Large Truck,4000,32.0,Digital Wallet,42349.30,1.51,False,Clouds,25.99,High
59997,IN059998,Delhi,Chennai,28.682119,77.262440,13.137420,80.230031,1756.62,1885.82,7.737,2024-12-03 00:36:10.094097,2025-02-05 22:03:40.513956,2025-02-05 22:09:43.298880,1557.559224,2024-12-03 01:36:10.094097,2024-12-03 04:36:10.094097,In Transit,Same Day,Mini Truck,2500,20.0,Digital Wallet,91962.49,1.77,False,Haze,29.09,High
59998,IN059999,Hyderabad,Pune,17.407092,78.568144,18.546545,73.781148,546.20,227.59,3.429,2024-12-03 00:50:21.052310,2024-12-18 10:27:28.379421,2024-12-18 10:07:49.215546,369.291156,2024-12-04 00:50:21.052310,2024-12-05 00:50:21.052310,Delivered,Standard,Cargo Auto,500,5.0,Debit Card,10811.83,1.35,False,Clouds,31.41,High
59999,IN060000,Kolkata,Hyderabad,22.628823,88.332045,17.397367,78.568085,1229.56,141.69,5.639,2024-12-03 00:54:57.736874,2025-01-06 08:49:17.861891,2025-01-06 08:27:05.183152,823.535402,2024-12-03 01:54:57.736874,2024-12-03 03:54:57.736874,Delivered,Premium,Tata Ace,750,8.0,Cash on Delivery,51060.60,1.34,False,Clouds,29.38,High

In [93]:
def remove_outliers(df):
    # Create an empty list to store columns with outliers removed
    df_cleaned = df.copy()
    
    # Loop over numerical columns to remove outliers
    for column in df.select_dtypes(include=['float64', 'int64']).columns:
        # Calculate the first and third quartiles
        Q1 = df_cleaned[column].quantile(0.25)
        Q3 = df_cleaned[column].quantile(0.75)
        
        # Calculate the Interquartile Range (IQR)
        IQR = Q3 - Q1
        
        # Define the upper and lower bounds for outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Remove the rows where the column values are outliers
        df_cleaned = df_cleaned[(df_cleaned[column] >= lower_bound) & (df_cleaned[column] <= upper_bound)]
    
    return df_cleaned

df_cleaned = remove_outliers(df)  # Remove outliers from the dataframe

In [94]:
df_cleaned.head()

,transaction_id,pickup_city,delivery_city,pickup_lat,pickup_lon,delivery_lat,delivery_lon,distance_km,weight_kg,volume_m3,pickup_time,estimated_delivery,actual_delivery,actual_delivery_time_hours,earliest_delivery,latest_delivery,status,priority,vehicle_type,vehicle_capacity_weight,vehicle_capacity_volume,payment_method,price_inr,traffic_multiplier,is_monsoon,weather_main,temperature,traffic_level_category
2,IN000003,Chennai,Kolkata,13.008907,80.294746,22.551902,88.392082,1389.21,307.60,2.006,2024-02-07 01:23:31.227104,2024-03-13 14:03:27.442155,2024-03-13 13:49:56.476180,852.440347,2024-02-07 09:23:31.227104,2024-02-08 01:23:31.227104,Delivered,Next Day,Mahindra Pickup,1200,12.0,Digital Wallet,31349.20,1.23,False,Haze,26.03,High
4,IN000005,Kolkata,Mumbai,22.480900,88.368970,19.006689,72.945940,1754.85,545.75,1.599,2024-02-07 01:26:26.139326,2024-04-07 07:30:11.409007,2024-04-07 07:53:48.267264,1446.456147,2024-02-07 02:26:26.139326,2024-02-07 05:26:26.139326,Delivered,Same Day,Mahindra Pickup,1200,12.0,Credit Card,63880.40,1.65,False,Smoke,29.93,High
5,IN000006,Delhi,Kolkata,28.596682,77.213055,22.668480,88.376011,1402.98,27.19,0.035,2024-02-07 01:28:15.781805,2024-03-27 03:36:44.183867,2024-03-27 03:29:53.908525,1178.027257,2024-02-07 09:28:15.781805,2024-02-08 01:28:15.781805,Delivered,Next Day,Delivery Bike,50,0.3,Credit Card,27716.06,1.68,False,Haze,26.03,High
7,IN000008,Bangalore,Kolkata,12.960832,77.506326,22.583939,88.268570,1602.52,30.77,0.194,2024-02-07 01:31:13.116943,2024-03-22 09:54:27.943414,2024-03-22 13:30:14.249860,1067.983648,2024-02-07 02:31:13.116943,2024-02-07 04:31:13.116943,Delivered,Premium,Delivery Bike,50,0.3,Net Banking,60912.21,1.33,False,Clouds,25.99,High
8,IN000009,Mumbai,Chennai,19.077366,72.915812,13.072321,80.346849,1060.51,36.23,3.629,2024-02-07 01:37:58.197176,2024-03-13 23:39:05.397500,2024-03-14 00:08:28.770956,862.508493,2024-02-08 01:37:58.197176,2024-02-09 01:37:58.197176,Delivered,Standard,Cargo Auto,500,5.0,UPI,16632.78,1.63,False,Clouds,28.90,High

Normalize Geolocation Data

In [95]:
from sklearn.preprocessing import MinMaxScaler

# Assume `df` is your DataFrame
scaler = MinMaxScaler()

# Normalize latitude and longitude columns
df_cleaned[['pickup_lat', 'pickup_lon', 'delivery_lat', 'delivery_lon']] = scaler.fit_transform(
    df_cleaned[['pickup_lat', 'pickup_lon', 'delivery_lat', 'delivery_lon']]
)

Average Delivery Time by Area (City)

In [96]:
# Calculate the delivery time difference
# Convert 'estimated_delivery' to datetime if it's a string
df_cleaned['delivery_time_diff'] = (df_cleaned['actual_delivery'] - df_cleaned['estimated_delivery']).dt.total_seconds() / 3600


# Calculate average delivery time by 'delivery_city' 
avg_delivery_time_by_city = df_cleaned.groupby('delivery_city')['delivery_time_diff'].mean()

In [97]:
# Correlation between traffic level and delivery time
traffic_impact = df_cleaned[['traffic_level_category', 'delivery_time_diff']].groupby('traffic_level_category').mean()

# If you want to include weather as well:
weather_impact = df_cleaned[['weather_main', 'delivery_time_diff']].groupby('weather_main').mean()

In [98]:
# Calculate capacity utilization
df_cleaned['weight_utilization(%)'] = df_cleaned['weight_kg'] / df_cleaned['vehicle_capacity_weight'] * 100
df_cleaned['volume_utilization(%)'] = df_cleaned['volume_m3'] / df_cleaned['vehicle_capacity_volume'] * 100

In [102]:
df_cleaned[["status","priority"]]

          status  priority
2      Delivered  Next Day
4      Delivered  Same Day
5      Delivered  Next Day
7      Delivered   Premium
8      Delivered  Standard
...          ...       ...
59993  Delivered   Premium
59994  Delivered  Standard
59995  Delivered   Premium
59998  Delivered  Standard
59999  Delivered   Premium

[35952 rows x 2 columns]

In [101]:
df_cleaned.to_csv("after_data_engineering.csv",index=False)